@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
// 
// nav, .greeting, .report {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//
//   h3 {
//     margin: 0;
//   }
// }
